<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
 <connectionStrings>
        <add name="MyDBConnection" connectionString="Data Source=.;Initial Catalog = MyProductDB; Integrated Security=true"/>
       
    </connectionStrings>
  <system.windows.forms jitDebugging="true"/>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

</configuration>
